
PORT=4000

# ===================== API KEYS =====================
# Real-Debrid (Optional - good for streams but not must its optional)
REAL_DEBRID_API_KEY=rd_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# TMDB (important)
TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# OpenSubtitles (for subtitle if you need them)
OPENSUB_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
